html, body {
    height: 100%;
}

body {
    margin: 0;
    padding:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#4d4d4d;
    background-color: #f1f3f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: crimson;
}

a:hover {
    color: rgba(220, 20, 60, 0.6);
}

.container {
    width: 1024px;
    margin: 0 auto;
    flex: 1 0 auto;
}

header {
    background-color: #dbe2e9;
}

h1, h2, h3, h4 {
    color:#345;
    font-weight: 200;
}

header h1 {
    color: #345;
    font-weight: 400;
}

footer h4 {
    color:#fff;
}

img {
    float:left;
    margin-right: 10px;
}

.col-1 {
    width: 70%;
    float: left;
}

.col-2 {
    width: 27%;
    float:left;
}

footer {
    margin-top:30px;
    background-color: rgb(112, 124, 136);
    flex-shrink: 0;
    color:#fff;
    font-size: 14px;
}

.clear {
    clear:both;
}